<ul class="tasks">
{{#each model.tasks as |item|}}
  <li>
    {{#link-to 'clients.projects.tasks.view' item}}{{item.title}}
      {{time-format item.duration}}
    {{/link-to}}
  </li>
{{/each}}
  <li>
  {{item-adder placeholder="Task name" model=model onAdd=(action "addTask")}}
  </li>
</ul>
{{outlet}}
