<ul class="projects">
{{#each model.projects as |item|}}
  <li>{{#link-to 'clients.projects.tasks' item}}{{item.title}}{{/link-to}}</li>
{{/each}}
  <li>
{{item-adder placeholder="Project name" model=model onAdd=(action "addProject")}}
  </li>
</ul>
{{outlet}}
