<ul class="clients">
{{#each model as |item|}}
  <li>{{#link-to 'clients.projects' item}}{{item.name}}{{/link-to}}</li>
{{/each}}
  <li>
  {{item-adder placeholder="Client name" model=model onAdd=(action "addClient")}}
  </li>
</ul>
{{outlet}}
