<ul class="clients">
{{#each model as |item|}}
  <li>{{#link-to 'clients.projects' item}}{{item.name}}{{/link-to}}</li>
{{/each}}
  <li>
  {{input placeholder="Client name" value=newClientName}}
  <button {{action "addClient" newClientName}} class="add btn btn-primary">Add</button>
  </li>
</ul>
{{outlet}}
