<div class="actions">
  <button {{action "start"}} {{bind-attr class=":start :btn :btn-primary isStartButtonEnabled::disabled"}}>Start</button>
  <button {{action "stop"}} {{bind-attr class=":stop :btn isStopButtonEnabled::disabled"}}>Stop</button>
</div>
