<div class="btn-group actions" role="group" aria-label="...">
  <button {{action "start"}} class="start btn btn-primary {{unless isStartButtonEnabled 'disabled'}}">Start</button>
  <button {{action "stop"}} class="stop btn {{unless isStopButtonEnabled 'disabled' ''}}">Stop</button>
</div>
