<div class="actions">
  <button {{action "start"}} {{bind-attr class=":btn :btn-primary startEnabled::disabled"}}>Start</button>
  <button {{action "stop"}} {{bind-attr class=":btn stopEnabled::disabled"}}>Stop</button>
</div>
