<div class="actions">
  <button {{action "start"}} class="start btn btn-primary {{if isStartButtonEnabled 'disabled'}}">Start</button>
  <button {{action "stop"}} class="stop btn {{if isStopButtonEnabled 'disabled' ''}}">Stop</button>
</div>
