<div class="actions">
  <button {{action "start"}} class="start btn btn-primary {{unless isStartButtonEnabled 'disabled'}}">Start</button>
  <button {{action "stop"}} class="stop btn {{unless isStopButtonEnabled 'disabled' ''}}">Stop</button>
</div>
